/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

a.forgetpass {
  text-align: center;
  text-decoration: none;
  color: #3498db;
  margin-top: 10px;
  display: block;
}

a.forgetpass:hover {
  text-decoration: underline;
}
