<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <title>About Us - Bus Fare Buddy</title>
    <link rel="stylesheet"  href="../static/Style.css">
</head>

<body>
    <header>
        <h1>About Us</h1>
    </header>
   
        </form>
    <section>
        <h2>Who We Are</h2>
        <p>Bus Fare Buddy is your trusted platform for booking bus tickets, providing a hassle-free experience for
            travelers. We are committed to making your journey more convenient and affordable.</p>
    </section>
    <section>
        <h2>Our Mission</h2>
        <p>Our mission is to connect travelers with the best bus services, making travel accessible to all. We strive to
            provide a seamless booking experience with a focus on user satisfaction and safety.</p>
    </section>
    <section>
        <h2>Meet the Team</h2>
        <ul>
            <li>Hrutesh Ghodmare - Founder and CEO</li>
            <li>Jane Smith - Marketing Director</li>
            <li>Michael Johnson - Customer Support</li>
        </ul>
    </section>
    <footer>
        <p>&copy; 2023 Bus Fare Buddy</p>
    </footer>
</body>

</html>